h1 {
  margin-bottom: 30px;
  text-align: center;
}

tr td {
  vertical-align: top;
}

.example-full-width {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.my-input {
  margin-top: 30px;
  width: 100%;
}

table {
  width: 100%;
  margin-top: 30px;
}

th {
  text-align: left;
}

.mat-row {
  height: 48px;
}

.mat-cell,
.mat-header-cell {
  padding: 5px 0;
}

.mat-header-row {
  background-color: #f5f5f5;
}

.mat-column-sku {
  width: 10%;
}

.mat-column-description {
  width: 25%;
}

.mat-column-address {
  width: 30%;
}

.mat-column-town,
.mat-column-country {
  width: 10%;
}

.mat-column-deliveryDate {
  width: 15%;
}

button {
  margin-top: 10px;
}
